.header_container {
  padding: 13px;
  background-color: #115e8f;
  box-shadow: 1px 10px 8px -10px #000001;
  height: 50px;
}
.header_element{
  p{
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 27px;
    @media only screen and (max-width: 840px) {
      font-size: 20px;
    }
  }
}