@import "./vars";
@import "./functions";
@import "./reset";
@import "./components/card";
@import "./pages/event_details";
@import "./pages/event_list";
@import "./layout/footer";
@import "./layout/header";

/* CSS Variables */
:root {
  @each $key, $color in $theme-colors {
    --color-#{$key}: #{hexToRGB($color)};
  }

  &[data-theme='dark'] {
    @each $key, $color in $dark-theme-colors {
      --color-#{$key}: #{hexToRGB($color)};
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color:white;
}

main{
  min-height: 860px;
}
.wrapper {
  max-width: 600px;
  margin: auto;
  padding: 32px;
  text-align: center;
  background-color:white;
}

.headding {
  font-size: 20px;
  color: getColor(--color-primary);
}

.contents {
  display: flex;
  flex-wrap: wrap;
  .card {
    flex-basis: calc(100% / 3);
    flex-grow:1;
  }
}

.themeButton {
  color: getColor(--color-primary)
}
